Package: gmtfh-damien-mathieu
Version: 1.0
Section: base
Priority: optional
Architecture: all
Essential: no
Installed-Size: 1024
Maintainer: Damien MATHIEU <damien.mathieu@etu.umontpellier.fr>
Description:
  The gmtfh-damien-mathieu (give me the f***ing hour) - gmt-damien-mathieu for the rastafari
  This package print the time in gmt format with a rastafari twist.
Depends: python3, python3-dateutil
